.videogameIndex {
    grid-template-columns: repeat(2,1fr);
    row-gap: 6vh;
    column-gap: 10vh;
    height: 90%;
}

.videogameIndex h2 {
    grid-column: span 2;
    width: 80%;
    text-align: center;
    font-size: 30px;
    background-color: fuchsia;
    border-radius: 20px;
}

.videogameIndex_gameCard {
    border: 1px solid grey;
    border-radius: 5%;
    background-color: rgba(17, 17, 17, 0.744);
    color: rgba(255, 0, 255, 0.97);;
    height: 300px;
    padding: 2vh 0;
    font-size: 20px;
    width: 300px;
}

.videogameIndex_gameCard:hover {
    background-color: violet;
    transform: scale(1.1);
    border-color: aqua;
} 

.videogameIndex_gameCard h3 {
    font-family: monospace;
    text-align: center;
    text-transform: uppercase;
}

.videogameIndex_gameCard img{
    height: 150px;
}


.red {
    color: red;
}

.green {
    color: green;
}