* {
  margin: 0;
}

.App {
  min-height: 100vh;
  padding: 5vh;
  margin-top: 40px;
  background-image: url("/public/appBackgroundImage.webp");
  background-size: cover;
}

.gridContainer {
  display: grid;
}

.flexContainer {
  display: flex;
}

.gridCenter {
  display: grid;
  align-items: center;
  justify-items: center;
}


