.videogameShowPage {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 5vh;
    align-items: center;
}

.videogameShow {
    border: 2px solid grey;
    padding: 20px;
    border-radius: 20px;
    row-gap: 20px;
    background-color: rgba(56, 56, 56, 0.625);
}

.videogameShow h2 {
    font-size: 30px;
    color: lime;
}

.videogameShow img {
    height: 300px;
}

.videogameShow span {
    font-size: 24px;
    color: aqua;
}

.videogameShow svg {
    height: 5em;
    width: 5em;
}

.videogameShow_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
}

.videogameShow_buttons button, .videogameShow_buttons div a{
    text-align: center;
    color: yellow;
    font-size: 26px;
}

.videogameShow_buttons button, .videogameShow_buttons div {
    height: 60px;
    width: 200px;
    background-color: navy;
    border-radius: 30px;
}

.videogameShow_buttons button:hover, .videogameShow_buttons div:hover, .videogameShow_buttons div a:hover {
    background-color: lime;
    color: navy;
}

.videogameShow_buttons div a {
    height: fit-content;
    text-decoration: none;
}

